<h3>Trees</h3>
@code {
    @using Compliments.Models;
    public List<Tree> trees = [new Tree("tree1", "Spain", 3, "oak"),
                               new Tree("tree2", "Narnia", 3, "spruce"),
                               new Tree("tree3", "Jupiter", 3, "apple")];
    public int a = 1;

}
<ul>
    @foreach (var tree in trees)
    {
        <li>
            <h3>@tree.Name</h3>
        </li>
    }
</ul>
